.prop-card {
   padding: 0.3rem 0.8rem;
   font-size: 32px;
   margin-top: 5px;
   border-width: 0px;
   border-left-width: 1.7rem;
   border-style: solid;
   box-shadow: 3px 3px 3px black;
   background-color: #97cd9461;
   width: 350px;
   cursor: pointer;
   margin-right: 1rem;
}
.prop-card:hover {
   filter: brightness(1) !important;
}
